* {
  padding: 0px;
  margin: 0px;
}

/*Navigation bar*/
.nav-container{
  margin: 0px;
  padding: 10px;
}

.nav {
  list-style-type:none;
  float: right;
  margin-right: 10px;
}

.nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: 0px;
}
.float-clear {
  clear: both;
  margin: 0px;
  padding: 0px;
}

.sign-button {
  display: inline-block;
  background-color: #4285f4;
  border-radius: 3px;
  padding: 5px 12px;
}

.sign-button a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
}

.apps-button {
  height: 30px;
  width: 30px;
  background-image: url('../img/v1_2e543709.png');
  display: block;
  background-position: -51px -452px;
}

.apps-li {
  height: 30px;
  width: 30px;
}

li>a {
  font-size: 0.8em;
  font-family: arial, sans-serif;
  color: #404040;
  text-decoration: none;
}

.main-logo {
  padding-top: 145px;
  width: 100%;
}

.logo {
  height: 95px;
  width: 269px;
  margin: 0 auto;
  display: block;
}

.textbar-container {
/*  margin: 0 auto;*/
  display: block;
  height: 30px;
  margin: 0px auto;
/*  vertical-align: middle;*/
  width: 569px;
  margin-top: 20px;
}

.mic-button {
  display: block;
  height: 24px;
  width: 16px;
  background-image: url(../img/descarga.gif);
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -12px;
  margin-right: auto;
  margin-left: auto;
}

input {
  display: inline-block;
  height: 30px;
  float: right;
  width: 535px;
  border: 1px solid grey;
  border-right: none;
}

.mic-container {
  width: 30px;
  position: relative;
  height: 30px;
  float: right;
  border: 1px solid grey;
  border-left: none;
}

.search {
  display: inline-block;
  width: auto;
}

.search-buttons-container {
  display: block;
  width: 400px;
  margin: 20px auto;
}
